*.docx
*.jpg
*.png
*.pyc
.Rapp.history
.Rhistory
Mallet/demo/data/gratian
Mallet/demo/gratian-20-topic-keys.txt
Mallet/demo/gratian-input.mallet
papers/ICMCL/save
!papers/Rem_Non_Novam/*.jpg
!papers/working/*.jpg
papers/working/draft.md
papers/working/save
samples/auto/1r/*
samples/auto/2r/*
samples/auto/cases/*
samples/auto/Gratian0.txt
samples/auto/Gratian1.txt
samples/auto/Gratian2.txt
samples/hand/segment/corpus3
samples/hand/segment/corpus6
samples/old/Gratian1.txt
samples/old/Gratian2.txt
stylometry/corpora/tmp
stylometry/n-way/Tukey_x
stylometry/n-way/files_to_analyze.txt
stylometry/n-way/stylo_config.txt
stylometry/n-way/table_with_frequencies.txt
stylometry/sg/files_to_analyze.txt
stylometry/sg/stylo_config.txt
stylometry/sg/table_with_frequencies.txt

